<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ board.name }} - Szczegóły Tablicy</title>
</head>
<body>
    <h1>{{ board.name }}</h1>

    <a href="{% url 'task_add' board.id %}">
        <button>Dodaj zadanie</button>
    </a>

    <h2>TO DO</h2>
    <ul>
        {% for task in to_do_tasks %}
            <li>{{ task.name }}</li>
        {% endfor %}
    </ul>

    <h2>DOING</h2>
    <ul>
        {% for task in doing_tasks %}
            <li>{{ task.name }}</li>
        {% endfor %}
    </ul>

    <h2>DONE</h2>
    <ul>
        {% for task in done_tasks %}
            <li>{{ task.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>