<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ board.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ board.name }}</h1>
            <p>{{ board.description }}</p>
        </header>

        <h2>Zadania</h2>

        <div class="task-columns">
            <div class="task-column">
                <h3>To Do</h3>
                <ul>
                    {% for task in tasks %}
                        {% if task.status == 'TO DO' %}
                            <li>{{ task.name }} - {{ task.status }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="task-column">
                <h3>Doing</h3>
                <ul>
                    {% for task in tasks %}
                        {% if task.status == 'DOING' %}
                            <li>{{ task.name }} - {{ task.status }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="task-column">
                <h3>Done</h3>
                <ul>
                    {% for task in tasks %}
                        {% if task.status == 'DONE' %}
                            <li>{{ task.name }} - {{ task.status }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <button id="addTaskButton">Dodaj zadanie</button>
        <button id="returnButton">Powrót do strony głównej</button>
    </div>
    <script>
        document.getElementById('addTaskButton').addEventListener('click', function() {
            window.location.href = "{% url 'task_add' board.id %}";
        });
    
        document.getElementById('returnButton').addEventListener('click', function() {
            window.location.href = "{% url 'home' %}";
        });
    </script>
</body>
</html>
