<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ board.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ board.name }}</h1>
            <p>{{ board.description }}</p>
        </header>

        <h2>Zadania</h2>

        <div class="task-columns">
            <div class="task-column">
                <h3>To Do</h3>
                <ul>
                    {% for task in tasks %}
                        {% if task.status == 'TO DO' %}
                            <li>
                                {{ task.name }} - {{ task.status }}
                                <div class="button-container">
                                    <button class="edit-task-button" edit-task-url="{% url 'task_edit' board.id task.id %}">Edytuj</button>
                                    <form action="{% url 'task_delete' board.id task.id %}" method="post" class="delete-form">
                                        {% csrf_token %}
                                        <button type="submit" class="delete-task-button">Usuń</button>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        
            <div class="task-column">
                <h3>Doing</h3>
                <ul>
                    {% for task in tasks %}
                        {% if task.status == 'DOING' %}
                            <li>
                                {{ task.name }} - {{ task.status }}
                                <div class="button-container">
                                    <button class="edit-task-button" edit-task-url="{% url 'task_edit' board.id task.id %}">Edytuj</button>
                                    <form action="{% url 'task_delete' board.id task.id %}" method="post" class="delete-form">
                                        {% csrf_token %}
                                        <button type="submit" class="delete-task-button">Usuń</button>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        
            <div class="task-column">
                <h3>Done</h3>
                <ul>
                    {% for task in tasks %}
                        {% if task.status == 'DONE' %}
                            <li>
                                {{ task.name }} - {{ task.status }}
                                <div class="button-container">
                                    <button class="edit-task-button" edit-task-url="{% url 'task_edit' board.id task.id %}">Edytuj</button>
                                    <form action="{% url 'task_delete' board.id task.id %}" method="post" class="delete-form">
                                        {% csrf_token %}
                                        <button type="submit" class="delete-task-button">Usuń</button>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <button id="addTaskButton">Dodaj zadanie</button>
        <button id="returnButton">Powrót do strony głównej</button>
    </div>

    <script>
        document.getElementById('addTaskButton').addEventListener('click', function() {
            window.location.href = "{% url 'task_add' board.id %}";
        });
    
        document.getElementById('returnButton').addEventListener('click', function() {
            window.location.href = "{% url 'home' %}";
        });

        const editButtons = document.querySelectorAll('.edit-task-button');
            editButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const url = this.getAttribute('edit-task-url');
                    window.location.href = url;
                });
            });

        const deleteButtons = document.querySelectorAll('.delete-form');
        deleteButtons.forEach(buttons => {
            buttons.addEventListener('submit', function(event) {
                const confirmation = confirm("Czy na pewno chcesz usunąć to zadanie?");
                if (!confirmation) {
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>