<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj Zadanie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edytuj Zadanie: {{ task.name }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Zapisz zmiany">
        </form>
        <button id="returnButton">Powrót do Tablicy</button>
    </div>
</body>
<script>
    document.getElementById('returnButton').addEventListener('click', function() {
        window.location.href = "{% url 'board' board.id %}";
    });
</script>
</html>